body
{
  background-color: #344D67;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 200%;
}

h1
{
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  text-align: center;
}

h2
{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

h3
{
  font-family: 'Montserrat', sans-serif;
}

.top-cloud
{
  padding-top: 100px;
  position: relative;
  left: 200px;
}

.bottom-cloud
{
  position: relative;
  right: 200px;
}

.mountain
{
  position: relative;
  bottom: 100px;
  width: 800px;
}

.picture
{
  border-radius: 50%;
}

.cube
{
  border-radius: 50%;
}

.skill-row
{
    width: 50%;
    margin: 100px auto 100px auto;
}
